{% extends 'layouts/master.html' %}

{% block title %}
    HOD Dashboard
{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5"><i class="fas fa-tachometer-alt me-3"></i> HOD Dashboard</h1>
    <div class="row gx-5">
        <div class="col-md-3">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <i class="fas fa-users fa-5x"></i>
                        </div>
                        <div>
                            <h1>{{ total_students }}</h1>
                            <h6>Total Students</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <i class="fas fa-chalkboard-teacher fa-5x"></i>
                        </div>
                        <div>
                            <h1>{{ total_staffs }}</h1>
                            <h6>Total Staffs</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <i class="fas fa-book fa-5x"></i>
                        </div>
                        <div>
                            <h1>{{ total_courses }}</h1>
                            <h6>Total Courses</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <i class="fas fa-book-open fa-5x"></i>
                        </div>
                        <div>
                            <h1>{{ total_subjects }}</h1>
                            <h6>Total Subjects</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
