{% extends "layouts/master.html" %}

{% block title %}
    List Students
{% endblock title %}

{% block content %}
<div class="container my-5">
    {% include "partials/_message.html" %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-5 mb-2"><i class="fas fa-list"></i> Staffs Notification</h1>
    </div>
    
    <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
    
    <table class="table mt-4" id="dataTable">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Staff ID</th>
                <th scope="col">Course</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ staff.user.user.first_name }} {{ staff.user.user.last_name }}</td>
                <td>{{ staff.staff_id }}</td>
                <td>{{ staff.course }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-success me-2" data-bs-toggle="modal" data-bs-target="#notificationModal{{ staff.id }}">
                        <i class="fas fa-bell"></i> Send Notification
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="notificationModal{{ staff.id }}" tabindex="-1" aria-labelledby="notificationModalLabel{{ staff.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="notificationModalLabel{{ staff.id }}">Send Notification to {{ staff.user.user.first_name }} {{ staff.user.user.last_name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" action="{% url 'save-staffnotification' %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="message">Notification Message</label>
                                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                                            <input type="text" name="staff" value="{{ staff.user.id }}" class="form-control" hidden>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Send Notification</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
