{% extends "layouts/master.html" %}

{% block title %}
    Apply Leave
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            
      {% include "partials/_message.html" %}
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="display-5 mb-4"><i class="fas fa-calendar-alt"></i> Apply Leave</h1>
                    <form method="POST" action="{% url 'staff-applyleave' %}">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <label for="date">Leave Date:</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="message">Leave Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="display-5 mb-4"><i class="fas fa-list"></i> Applied Leave</h1>
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Message</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in data %}
                            <tr>
                                <td>{{ leave.data }}</td>
                                <td>{{ leave.message|truncatechars:30 }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leaveModal{{ leave.id }}"><i class="fas fa-info-circle"></i> Applied Leave</button>
                                    <div class="modal fade" id="leaveModal{{ leave.id }}" tabindex="-1" aria-labelledby="leaveModalLabel{{ leave.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="leaveModalLabel{{ leave.id }}">Leave Details</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Date:</strong> {{ leave.data }}</p>
                                                    <p><strong>Message:</strong> {{ leave.message }}</p>
                                                    {% if leave.status == 1 %}
                                                    <p><strong>Status:</strong> Approved</p>
                                                    {% elif leave.status == 2 %}
                                                    <p><strong>Status:</strong> Disapproved</p>
                                                    {% else %}
                                                    <p><strong>Status:</strong> Pending</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No leaves applied yet.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
